.page-template-blog .box-post{
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #afc6c1;
}

.page-template-blog .box-post .box-title{
    height: 65px;
    display: flex;
    margin: 15px 0;
    overflow: hidden;
    align-items: center;
    border: 1px solid #00ff88;
}

.page-template-blog .box-post .box-title .box-date{
    height: 100%;
    width: 140px;
    background: #00ff88;
    text-align: center;
    padding: 5px;
}

.page-template-blog .box-post .box-title .box-date span,
.page-template-blog .box-post .box-title .box-date strong{
    display: block;
    font-size: 15px;
    color: #004b3c;
    text-transform: uppercase;
}

.page-template-blog .box-post .box-title .box-date strong{
    font-size: 35px;
    font-weight: 600;
    display: block;
}

.page-template-blog .box-post .box-title .title-post{
    flex: 4;
    padding: 20px;
}

.page-template-blog .box-post .box-title .title-post a{
    font-size: 18px;
    color: #004b3c;
    font-weight: 600;
    line-height: 22px;
}

.page-template-blog .box-post .box-content{
    padding: 10px 0;
}

.page-template-blog .box-post .box-content *{
    color: #6b8b7c;
    line-height: 25px;
}

.page-template-blog .box-post .box-content a{
    display: block;
}

.page-template-blog .box-post .box-content a:hover{
    opacity: .8;
    text-decoration: none;
}

.page-template-blog .link-read-more,
.page-template-blog .link-read-more *{
    font-weight: 600;
    color: #00d974 !important;
    text-transform: uppercase;
}

.page-template-blog .link-read-more:hover{
    text-decoration: underline !important;
}

.single #comments .comment-reply-title,
.single #comments .comment-notes{
    display: none;
}

.single #comments .comment-form > p label{
    margin: 5px 0;
    color: #6b8b7c;
    font-size: 14px;
}

.single .comment-form-cookies-consent input[type=checkbox]{
    margin-right: 10px;
}


@media (max-width: 767px) {

    .page-template-blog .box-post .box-title .box-date{
        width: 105px;
    }

    .page-template-blog .box-post .box-title .title-post{
        padding: 20px 10px;
    }

    .page-template-blog .box-post .box-title .title-post a{
        font-size: 13px;
        color: #004b3c;
        font-weight: 600;
        line-height: 15px;        
    }

    .box-aside-blog > div + div{
        display: none;
    }

    .box-aside-blog .searchform > div{
        width: 100% !important;
    }

    .single .header + .container{
        padding-top: 75px;
    }
}