/* ----- Carousel Slider WP ----- */
.carousel-slider .owl-nav button{
    width: 80px !important;
    height: 80px !important;
    background: rgba(225,225,225, 0.8) !important;
}

.carousel-slider-nav-icon:hover{
    fill: #00d974 !important;
}

.carousel-slider .carousel-slider-nav-icon{
    fill: #f5a623 !important;
}

/* ----- Bootstrap ----- */
.carousel .carousel-inner{
    width: 95%;
    margin: auto;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next{
    width: auto;
    opacity: 1;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon{
    width: 22px;
    height: 42px;
}

.carousel .carousel-control-prev-icon{
    background-image: url(../img/arrow-left.png);
}

.carousel .carousel-control-next-icon{
    background-image: url(../img/arrow-right.png);
}
