*,
html,
body{
	color: #4f4f4f;
	font-size: 14px;
	font-family: "Montserrat", Sans-serif;
}

html{
    overflow: inherit !important;
}

input{
	font-size: 13px;
	font-family: "Montserrat", Sans-serif;	
}

*,
input:hover{
	outline: none;
}

a{
    transition: .2s;
}

a:hover{
	text-decoration: underline;
}

.container-inner{
    max-width: 750px;
    margin: auto;
}


/* ----- Colors ----- */
.dark-green{ color: #004b3c; }
.emerald{ color: #009851; }
.shamrock{ color: #00af5d; }
.tealish-green{ color: #00d974; }
.lemon-green{ color: #00ff88; }
.ice{ color: #effff8; }
.slate-green{ color: #6b8b7c; }
.orange-yellow{ color: #ff9f00; }
.lightish-red{ color: #ff3750; }
.light-pink{ color: #fff7f8; }

/* ----- Font Weight ----- */
.font-normal{ font-weight: 400; }
.font-medium{ font-weight: 500; }
.font-large{ font-weight: 600; }

.flex{ display: flex; }
.hidden-mobile{ display: none; }
.no-padding{ padding: 0 !important; }

/* ----- Texts ----- */
.text-title{
    color: #004b3c;
    font-weight: 500;
    font-size: 40px;
    font-family: "Montserrat", Sans-serif;
}

.text-support{
    color: #6b8b7c;
    font-weight: 400;
    font-size: 15px;
    font-family: "Montserrat", Sans-serif;  
}

.text-topic{
    color: #004b3c;
    font-weight: 400;
    font-size: 14px;
    font-family: "Montserrat", Sans-serif;  
}

/* ----- Buttons ----- */
.btn-custom{
    height: 19px;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    display: inline-table;
    text-transform: uppercase;
    font: 500 16px/19px "Montserrat", sans-serif; 

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.btn-custom:hover{
    text-decoration: none;
}

.btn-custom-primary{
    color: #fff;
    background-image: linear-gradient(to bottom, #00d974, #006d3a);
}

.btn-custom-primary:hover{
    color: #fff;
    box-shadow: 0 0 10px 0 #00d974;
    background-image: linear-gradient(to bottom, #00d974, #006d3a);    
}

.btn-custom-secondary{
    color: #fff;
    background-image: linear-gradient(to bottom, #fad961, #f76b1c);
}

.btn-custom-secondary:hover{
    color: #fff;
    box-shadow: 0 0 10px 0 #f5a623;
}

/* ----- Input ----- */
input[type=text],
input[type=email],
input[type=phone],
input[type=date],
textarea,
select{
    color: #6b8b7c;
    width: 100%;    
    min-height: 49px;
    padding: 10px;
    font-size: 14px;    
    border: 1px solid #6b8b7c;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

select{
    height: 49px;
    background: #fff;
}

@media (max-width: 767px) {
    .hidden-mobile{ display: block; }
    .no-padding-mobile{ padding: 0 !important; }
}