/* ----- Fullbanner ----- */
.home .box-fullbanner .ms-slide-info{
    width: auto;
    bottom: 5%;
    position: absolute !important;
}

.home .box-fullbanner .content.mobile{
    display: none;
}

.home .box-fullbanner .box-title{
    max-width: 1400px;
}

.home .box-fullbanner .box-title h2,
.home .box-fullbanner .box-title p{
    color: #fff;
    margin: 10px 0;
}

.home .box-fullbanner .box-title h2{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.home .box-fullbanner .box-title p{
    font-size: 20px;
    font-weight: 400;    
}

.home .box-fullbanner .box-title a{
    font-size: 17px;
    font-weight: 500;
    color: #004b3c;
    margin-top: 15px;
    padding: 5px 25px;
    display: inline-block;
    transition: .2s !important;
    background: rgba(255, 255, 255, .9);
    text-transform: uppercase;
    border: 1px solid #00ff88;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.home .box-fullbanner .box-title a:hover{
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
}

.home .section{
    text-align: center;
}

.home .section-features{
    padding: 50px 0 170px;
}

.home .section-features .list-features{
    margin-top: 50px;
}

.home .section-features .list-features .box-image img{
    max-width: 84px;
}

.home .section-features .list-features .box-image img:hover{
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.home .section-features .list-features .box-description{
    margin: auto;
    margin-top: 17px;
    max-width: 240px;
    line-height: 20px;
    border-bottom: 1px solid #00ff88;
}

.home .section-features .list-features .box-description strong{
    color: #00af5d;
    font-size: 20px;
}

.home .section-features .list-features .box-description p{
    color: #004b3c;
    padding: 21px 0;
    min-height: 185px;
}

.home .section-about{
    min-height: 800px;
    background: url("../img/bg-about.jpg") no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: -140px;
}

.home .section-about *{
    color: #fff;
}

.home .section-about .list-statistic{
    padding: 40px 0;
    border-bottom: 1px solid #fff;
}

.home .section-about .list-statistic .count,
.home .section-about .list-statistic .info,
.home .section-about .list-statistic .since{
    margin: auto;
    display: block;
    max-width: 250px;
    margin-bottom: 10px;
}

.home .section-about .list-statistic .count{
    font-size: 60px;
    font-weight: 800;
}

.home .section-about .list-statistic .info{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.home .section-about .list-statistic .since{
    margin-top: 50px;
    font-style: italic;
}

.home .section-about .box-buttons{
    margin: 50px 0;
}

@media (min-width: 768px) {
    .header #menuMain{
        display: block
    }
}

@media (max-width: 767px) {

    .home div.box-fullbanner{
        position: relative;
        margin-bottom: 73px;
    }

    .home .box-fullbanner .content{
        display: none;
    }

    .home .box-fullbanner .content.mobile{
        display: block;
    }

    .home div.box-fullbanner .box-title{
        text-align: center;
        padding: 0;
    }

    .home div.box-fullbanner .ms-slide-info{
        padding: 30px 0;
        position: relative !important;
    }

    .home div.box-fullbanner .box-title h2{
        color: #004b3c;
        font-size: 21px;
    }

    .home div.box-fullbanner .box-title p{
        font-size: 15px;
        color: #009851;
    }

    .home div.box-fullbanner .box-title a{
        width: 240px;
        height: 40px;
        color: #fff;
        padding: 0 30px;
        border: none;
        text-align: center;
        display: inline-table;
        text-transform: uppercase;
        font: 500 16px/40px "Montserrat", sans-serif;
        background-image: linear-gradient(to bottom, #00d974, #006d3a);        
    
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .home .section-features{
        padding-bottom: 0;
    }

    .home .section-features .list-features .box-description{
        margin-bottom: 40px;
    }

    .home .section-about{
        padding: 0;
        background: none;
        min-height: auto;
        margin: 0;
    }

    .home .section-about .description-about{
        padding: 20px 16px;
        background: url(../img/bg-about-mobile.jpg) no-repeat center bottom;
        background-size: cover;
    }

    .home .section-about .list-statistic .count{
        font-size: 50px;
        color: #00d974;
    }

    .home .section-about .list-statistic .info,
    .home .section-about .list-statistic .since{
        color: #006854;
    }

    .home .section-about .list-statistic{
        border: none;
        padding-bottom: 0;
    }

    .home .section-about .list-statistic .since{
        margin: 50px auto;
    }

    .home .section-about .box-buttons{
        margin: 0 0 50px 0;
    }
}

@media (max-width: 992px){
    
}

@media (min-width: 1400px){
    .home .box-fullbanner .ms-slide-info{
        bottom: 9%;
    }
}