.page-template-program .section-resume{
    padding: 0;
    position: relative;
}

.page-template-program .section-resume .box-banner-bg{
    z-index: 0;
    position: relative;
}

.page-template-program .section-resume .box-banner-bg img{
    width: 100%;
}

.page-template-program .section-resume *{
    color: #fff;
}

.page-template-program .section-resume > .container{
    position: absolute;
    z-index: 5;
    top: 25%;
    left: 50%;    
    margin-left: -500px;
    max-width: 1000px !important;
}

.page-template-program .section-resume .separate{
    width: 1px;
    height: 190px;
    margin: auto;
    display: block;
    background: #fff;
}

.page-template-program .section-resume .title{
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
    text-transform: uppercase;
}

.page-template-program .section-resu-resume{
    max-width: 470px;
    margin: auto;
}

.page-template-program .section-resume .box-resume p{
    max-height: 200px;
    overflow-y: auto;
    line-height: 22px;
    font-size: 15px;
    margin: 0 0 40px;
}

.page-template-program .section-features .section-title{
    margin-bottom: 80px;
}

.page-template-program .section-features .section-title .title{
    color: #00af5d;
    font-size: 40px;
    font-weight: 500;
}

.page-template-program .section-features .section-title .support{
    color: #6b8b7c;
    font-size: 20px;
    max-width: 900px;
    font-weight: 500;
    line-height: 25px;
}

.page-template-program .section-features .box-features .header-features{
    padding-bottom: 40px;
    margin-bottom: 45px;    
    border-bottom: 2px solid #00ff88;
    justify-content: space-between;
}

.page-template-program .section-features .box-features .mobile .header-features{
    display: none;
}

.page-template-program .section-features .box-features .header-features > li:hover img{
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.page-template-program .section-features .box-features .header-features .active .img-active{
    display: block;
}

.page-template-program .section-features .box-features .header-features .img-active,
.page-template-program .section-features .box-features .header-features .active .img-inactive{
    display: none;
}

.page-template-program .section-features .box-features .header-features img{
    height: 110px;
    display: block;
    margin: auto auto 50px;
}

.page-template-program .section-features .box-features .header-features strong{
    color: #006854;
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.page-template-program .section-features .box-features .content-features strong{
    color: #009851;
    font-size: 30px;
    font-weight: 600;
}

.page-template-program .section-features .box-features .content-features strong::after{
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    margin: 20px 0;
    background: #f5a623
}

.page-template-program .section-features .box-features .content-features p{
    color: #6b8b7c;
    font-size: 16px;
    line-height: 24px;
}

.page-template-program .section-awards .section-title .container-inner{
    max-width: 850px;
}

.page-template-program .section-awards .box-brasao{
    max-width: 900px;
    margin: 40px auto auto;
}

.page-template-program .section-awards .box-brasao .box-image img{
    max-width: 300px;
}

.page-template-program .section-awards .box-brasao .box-description > span{
    color: #009851;
    font-size: 60px;
    font-weight: 500;
}

.page-template-program .section-awards .box-brasao .box-description > span:after{
    content: "";
    width: 58px;
    height: 2px;
    display: block;
    margin: 15px 0;
    background: #ff9f00;
}

.page-template-program .section-awards .box-brasao .box-description strong{
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #00bc64;
    line-height: 35px;
    margin-bottom: 15px;
}

.page-template-program .section-awards .box-brasao .box-description p{
    color: #6b8b7c;
    font-size: 15px;
    line-height: 25px;
}

.page-template-program .section-awards .box-awards{
    margin-top: 120px;
}

.page-template-program .section-awards .box-awards .items-awards.mobile{
    display: none;
}

.page-template-program .section-awards .box-awards .items-awards .carousel-item .item{
    float: left;
    width: 33.3%;
}

.page-template-program .section-awards .box-awards .items-awards .item .box-image{
    width: 240px;
    height: 140px;
    margin: auto;
}

.page-template-program .section-awards .box-awards .items-awards .item .box-image img{
    margin: auto;
    max-width: 100%;
    display: block;
}

.page-template-program .section-awards .box-awards .items-awards .item .box-info{
    max-width: 240px;
    margin: auto;
    padding: 20px 0;
    min-height: 250px;
    border-bottom: 1px solid #00ff88;
}

.page-template-program .section-awards .box-awards .items-awards .item .box-info span,
.page-template-program .section-awards .box-awards .items-awards .item .box-info strong{
    color: #004b3c;
    font-size: 20px;
    font-weight: 500;
    display: block;
    padding: 3px 0;
}

.page-template-program .section-awards .box-awards .items-awards .item .box-info strong{
    font-weight: 600;
}

.page-template-program .section-awards .box-awards .items-awards .item .box-info p{
    color: #6b8b7c;
    line-height: 22px;
}

@media (max-width: 768px) {
    .page-template-program .section-resume{
        padding: 0;
        min-height: 450px;
        background-position: 80% -110px !important;   
        background: url("../img/bg-program.jpg") no-repeat center;
        background-size: cover;             
    }

    .page-template-program .section-resume .box-banner-bg{
        display: none;
    }

    .page-template-program .section-resume > .container{
        position: initial;
        margin: auto;
    }

    .page-template-program .section-resume .title{
        font-size: 21px;
        text-align: center;
        margin-top: 20px;
        display: block;      
        line-height: 25px;
    }

    .page-template-program .section-resume .title strong{
        display: block;
        margin-top: 20px;
    }
    
    .page-template-program .section-resume .separate{
        display: none;
    }

    .page-template-program .section-resume .box-resume p{
        margin-bottom: 10px;
        text-align: center;
    }

    .page-template-program .section-features .section-title .title{
        font-size: 25px;
    }

    .page-template-program .section-features .box-features #myTabContent,
    .page-template-program .section-features .box-features .header-features{
        display: none;
    }

    .page-template-program .section-features .box-features .mobile .header-features{
        display: block;
        border: none;
    }

    .page-template-program .section-features .box-features .header-features a{
        text-align: center;
    }

    .page-template-program .section-features .box-features .mobile .header-features .content-features{
        margin-top: 50px;
    }

    .page-template-program .section-features .box-features .mobile .header-features .content-features strong{
        text-transform: none;
    }

    .page-template-program .section-awards{
        padding: 20px 0;
    }

    .page-template-program .section-awards .section-title .support{
        font-size: 15px !important;
    }

    .page-template-program .section-awards .box-brasao{
        margin: 0 auto;
    }

    .page-template-program .section-awards .box-brasao .box-image img{
        display: block;
        margin: auto;
        max-width: 200px;
    }    

    .page-template-program .section-awards .box-brasao .box-description{
        margin-top: 30px;
    }

    .page-template-program .section-awards .box-brasao .box-description > span{
        font-size: 40px;
    }

    .page-template-program .section-awards .box-brasao .box-description strong{
        font-size: 21px;
    }    

    .page-template-program .section-awards .box-awards .items-awards{
        display: none;
    }

    .page-template-program .section-awards .box-awards .items-awards.mobile{
        display: block;
        margin-bottom: 40px;
    }
    
    .page-template-program .section-awards .box-awards .items-awards .carousel-item .item{
        width: 100%;
        float: none;
    }    
}