.page-template-schedule .section-title .support{
    max-width: 750px;
    margin: auto;
}

.page-template-schedule .section-features{
    padding: 0;
    margin: auto;
    max-width: 940px;
}

.page-template-schedule .section-features .box-title{
    margin-bottom: 30px;
    padding-bottom: 20px;    
    border-bottom: 1px solid #00ff88;
}

.page-template-schedule .section-features .box-title strong{
    color: #00af5d;
    font-size: 25px;
    font-weight: 500;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.page-template-schedule .section-features .list-features .box-image{
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.page-template-schedule .section-features .list-features .box-image img{
    width: 100%;
    display: block;
}

.page-template-schedule .section-features .list-features .box-description strong{
    display: block;
    font-size: 20px;
    color: #006854;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
}

.page-template-schedule .section-features .list-features .box-description p{
    font-size: 14px;
    color: #6b8b7c;
    line-height: 20px;
    max-width: 195px;
    margin: auto;
    text-align: center;
}

.page-template-schedule .section-warning{
    padding: 0;
    margin: 100px 0 50px;
    background: #f1fff9;
    padding-bottom: 30px;
}

.page-template-schedule .section-warning .container{
    max-width: 1400px;
}

.page-template-schedule .section-warning .box-warning strong{
    display: block;
    color: #00bc64;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #00ff88;
}


.page-template-schedule .section-warning .box-warning ul{
    display: flex;
}

.page-template-schedule .section-warning .box-warning ul li{
    border-left: 5px solid #00ff88;
}

.page-template-schedule .section-warning .box-warning ul li p{
    color: #004b3c;
    font-size: 14px;
    line-height: 20px;
    padding: 0 20px;
}

.page-template-schedule .section-schedule{
    padding: 0;
}

.page-template-schedule .section-schedule .section-title .support{
    margin: auto;
    max-width: 580px;
    font-weight: 500;
}

.page-template-schedule .section-schedule .header-tabs{
    display: flex;
    margin: 40px auto;
    justify-content: center;
}

.page-template-schedule .section-schedule .header-tabs li{
    max-width: 240px;
}

.page-template-schedule .section-schedule .content-schedule{
    max-width: 940px;
    margin: auto;
}

.page-template-schedule .section-schedule .header-city{
    display: flex;
    margin: 40px auto;
    justify-content: center;
}

.page-template-schedule .section-schedule .header-city a{
    width: 414px;
    height: 177px;
    border: 1px solid #afc6c1;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-template-schedule .section-schedule .header-city a,
.page-template-schedule .section-schedule .header-city a *{
    color: #afc6c1;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.page-template-schedule .section-schedule .header-city a span{
    display: block;
    font-weight: 600;
}

.page-template-schedule .section-schedule .header-city a.active,
.page-template-schedule .section-schedule .header-city a.active *{
    color: #00d974;
    border-color: #00d974;
}

.page-template-schedule .section-schedule .header-city a.active{

    box-shadow: 0px 5px 11px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 11px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 5px 11px rgba(0,0,0,0.2); 

    background-image: linear-gradient(to bottom, #fff, #ecfff3);
}

.page-template-schedule .section-schedule .box-download{
    padding-bottom: 20px;
    border-bottom: 1px solid #00ff88;
}

.page-template-schedule .section-schedule .box-download strong{
    color: #004b3c;
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #00ff88;
}

.page-template-schedule .section-schedule .box-download p{
    color: #6b8b7c;
    font-size: 14px;
    line-height: 20px;
}

.page-template-schedule .section-schedule .box-download .box-buttons{
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
}

.page-template-schedule .section-schedule .box-download .box-buttons a{
    font-size: 15px;
    color: #00d974;
    margin: 0 10px;
    border: 1px solid #00d974;
    display: inline-block;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
    padding: 0 0 0 15px;

    height: 37px;
    line-height: 37px;   
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.page-template-schedule .section-schedule .box-download .box-buttons a span{
    padding: 0 13px;
    background: #00d974;
    margin-left: 10px;
    float: right;   
}

.page-template-schedule .section-schedule .box-download .box-buttons a span .fa{
    color: #fff;
}

.page-template-schedule .section-schedule .box-form{
    max-width: 620px;
    margin: 30px auto auto;
}

.page-template-schedule .section-schedule .box-form .areas-interesse{
    display: block;
    margin-bottom: 10px;
}

.page-template-schedule .section-schedule .box-form .wpcf7-list-item{
    margin: 10px 15px 10px 0;
}

.page-template-schedule .section-schedule .box-form .wpcf7-list-item *{
    color: #6b8b7c;
}

.page-template-schedule .section-schedule .box-form ::placeholder { 
    color: #6b8b7c;
    opacity: 1;
  }
  
  .page-template-schedule .section-schedule .box-form :-ms-input-placeholder { 
    color: #6b8b7c;
  }
  
  .page-template-schedule .section-schedule .box-form ::-ms-input-placeholder { 
    color: #6b8b7c;
  }

.page-template-schedule .section-schedule .box-form input:not(input[type=submit]),
.page-template-schedule .section-schedule .box-form select,
.page-template-schedule .section-schedule .box-form textarea{
    color: #6b8b7c;
}

.page-template-schedule .section-schedule .box-form strong{
    color: #6b8b7c;
    font-size: 15px;
    display: block;
    font-weight: 500;
    margin: 10px auto 15px;
}

.page-template-schedule .section-schedule .box-form .box-field strong{
    margin-bottom: 0;
}

.page-template-schedule .section-schedule .box-form .box-field{
    margin-bottom: 20px;
}

.page-template-schedule .section-schedule .box-form .box-field label{
    color: #006854;
    font-weight: 600;
    font-size: 13px;
    display: block;
    margin: 5px 0;
    text-transform: uppercase;
}

.page-template-schedule .section-schedule .box-form .box-field label + br{
    display: none;
}

.page-template-schedule .section-schedule .box-form .box-field > span{
    display: block;
}

.page-template-schedule .section-schedule .box-form .btn-custom{
    width: 100%;
    max-width: 400px;
    height: 40px;
    display: block;
    margin: 30px auto;
}

@media (max-width: 768px) {
    .page-template-schedule .section-features{
        padding: 50px 0;
    }

    .page-template-schedule .section-features .list-features{
        display: none;
    }

    .page-template-schedule .section-features .list-features.mobile{
        display: block !important;
    }

    .page-template-schedule .section-warning{
        margin: 0 auto 30px;
        padding: 0;
    }

    .page-template-schedule .section-warning > .container{
        padding: 0;
    }

    .page-template-schedule .section-warning .box-banner{
        display: none;
    }

    .page-template-schedule .section-warning .box-warning strong.mobile{
        color: #009851;
        font-size: 18px;
        font-weight: 500;
        display: block !important;
        background: #00ff88;
        text-align: left;
        padding: 20px;
        margin: 0;
    } 

    .page-template-schedule .section-warning .box-warning strong.mobile .fa{
        font-size: 30px;
        color: #fff;
        float: right;
    }

    .page-template-schedule .section-warning .box-warning strong.mobile .fa.fa-sort-down{
        line-height: 0;
    }

    .page-template-schedule .section-warning .box-warning strong:not(.mobile){
        display: none;
    }

    .page-template-schedule .section-warning .box-warning ul{
        display: none;
        padding: 0 16px 1px;
    }

    .page-template-schedule .section-warning .box-warning ul li{
        margin: 30px auto;
    }

    .page-template-schedule .section-schedule .box-download .box-buttons{
        text-align: center;
    }

    .page-template-schedule .section-schedule .box-download .box-buttons a{
        margin: 10px 0;
        width: 100%;
    }
    
    .page-template-schedule .section-schedule .content-city{
        display: none;
    }    

    .page-template-schedule .section-schedule .header-city a{
        width: 300px;
        height: 150px;
        margin: 10px 0;
    }

    .page-template-schedule .section-schedule .box-form .wpcf7-list-item{
        display: block;
        margin: 0 0 30px 0;        
    }

    .page-template-schedule .section-schedule .box-form .wpcf7-list-item *{
        font-size: 15px;
    }    
}