@import url("carousel.css");
@import url("home.css");
@import url("program.css");
@import url("team.css");
@import url("blog.css");
@import url("unipar.css");
@import url("schedule.css");

/* ----- Header ----- */
.header > .container{
    max-width: 2600px;
    background: #fff;
}

.header .logotipo{
    margin: 7px;
    display: block;
}

.header .logotipo img{
    max-width: 170px;
}

.header .box-language{
    max-width: 90px;
}

.header .box-language > a{
    height: 90px;
    display: flex;
    background: #00af5d;
    align-items: center;
    width: 90px;
}

.header .box-language > a:hover{
    background: #00d974;
}

.header .box-language a img{
    max-width: 38%;
    margin: auto;
    display: block;  
}

.header .box-language a img.mobile{
    display: none;
}

.header .box-language .options-language{
    z-index: 999999;
    position: absolute;
    right: 0;
    display: none;
}

.header .box-language ul{
    display: flex;
}

.header .box-language ul li{
    float: left;
}

.header .box-language ul li a{
    width: 90px;
    height: 90px;
    display: flex;
    font-size: 16px;
    color: #009851;
    background: #fff;
    align-items: center;
    justify-content: center;
}

.header .box-language ul li a:hover{
    color: #fff !important;
    background: #00d974;
}

.header .box-language ul li a.active{
    font-weight: 500;
    color: #00d974;
}

.ico-arrow{
    text-align: center;
    width: 31px;
    height: 17px;
    margin: auto;    
}

.ms-skin-default .ms-nav-next, 
.ms-skin-default .ms-nav-prev{
    z-index: 9 !important;
}

/* ----- Menu Main ----- */
.main-menu,
.main-menu > div,
.main-menu ul,
.main-menu ul li,
.main-menu ul li a{
    height: 100%;
} 

.main-menu ul.menu{
    display: flex;
    height: 100%;
    align-items: center;
}

.main-menu ul.menu li{
    flex: 1;
    width: 100%;
    text-align: center;
}

.main-menu ul.menu li a{
    color: #006854;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font: 600 12px "Montserrat", sans-serif;
}

.main-menu ul.menu li:last-child a{
    color: #fff;
    padding: 0 15%;
    white-space: nowrap;    
    background: #009851; 
}

.main-menu ul.menu li.current-menu-item:last-child a{
    color: #fff;
}

.main-menu ul.menu li.current-menu-item a{
    color: #00d974;
}

/* ----- Pages ----- */
.box-banner{
    background-image: none;
}

.box-banner img{
    margin: auto;
    height: auto;
    width: 100%;
    display: block;
    max-width: 100%;
    min-height: 360px;
}

/* ----- Section ----- */
.section{
    padding: 100px 0;
}

.section-title{
    margin: auto;    
    max-width: 940px;
    text-align: center;
}

.section-title h3,
.section-title p{
    margin-bottom: 20px;
}

.section-title h3{
    font-size: 35px;
    text-transform: uppercase;
}

.section-title p{
    font-size: 15px;
    line-height: 20px;
}

.section-title p strong{
    display: block;
}

/* ----- Blog ----- */
.title-section-blog{
    text-align: center;
    padding-bottom: 30px;
    margin: 55px 0 65px 0;
    border-bottom: 1px solid #00ff88
}

.box-content-blog{
    max-width: 950px;
    margin: auto;
}

.box-post .box-content{
    padding: 10px 0;
}

.box-post .box-content *{
    color: #6b8b7c;
    line-height: 25px;
}

.box-comment{
    margin-top: 50px;
}

.box-comment h2{
    color: #004b3c;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.box-comment h2:after{
    content: "";
    width: 55px;
    height: 2px;
    background: #f5a623;
    margin: 15px 0;
    display: block;
}

.box-comment .comment-form > p{
    margin-bottom: 10px;
}

.box-comment input[type=text],
.box-comment textarea{
    width: 100%;
    height: 49px;
}

.box-comment textarea{
    height: 135px;
}

.box-comment .form-submit .submit{
    height: 40px;
    color: #fff;
    display: block;  
    margin: 20px auto;  
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    font: 500 16px/19px "Montserrat", sans-serif;
    background-image: linear-gradient(to bottom, #00d974, #006d3a);

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.box-comment .form-submit .submit:hover{
    box-shadow: 0 0 10px 0 #00d974;
    background-image: linear-gradient(to bottom, #00d974, #006d3a);        
}

/* ----- Aside Blog ----- */
.box-aside-blog h2{
    color: #004b3c;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.box-aside-blog > div{
    margin-bottom: 30px;
}

.box-aside-blog h2:after{
    content: "";
    width: 55px;
    height: 2px;
    background: #f5a623;
    margin: 15px 0;
    display: block;
}

.box-aside-blog .searchform > div{
    display: flex;
    width: 250px;
    border: 1px solid #00af5d;
}

.box-aside-blog .searchform label{
    display: none;
}

.box-aside-blog .searchform input[type=text]{
    margin: 0;
    height: 35px;
    padding: 5px;
    border: none;
    flex: 1;
    min-height: auto;
}

.box-aside-blog .searchform #searchsubmit{
    width: 35px;
    height: 35px;
    background: url("../img/button-search.png") no-repeat center;
    background-size: cover;
    border: none;
    text-indent: -99999px;
}

.box-aside-blog .cat-item{
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #afc6c1;
}

.box-aside-blog .cat-item a{
    font-size: 15px;
    color: #afc6c1;
}

.box-aside-blog .cat-item a:hover{
    color: #00d974;
    text-transform: none;
}

/* ----- Tabs ----- */
.header-tabs{
    max-width: 730px;
    margin: 0 auto 40px;
}

.header-tabs li{
    flex: 1;
    border-style: solid;
    border-color: #00d974;
    border-width: 1px 0 1px 1px;
}

.header-tabs li:last-child{
    border-right: 1px solid #00d974;
}

.header-tabs li a{
    padding: 0;
    height: 50px;
    color: #00d974;
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.header-tabs li a.active{
    color: #fff;
    background: #00d974;
}

/* ----- Footer ----- */
footer{
    padding: 100px 0 10px;
    background: url(../img/bg-footer.png) center top;
    background-size: contain;
    background-repeat-y: no-repeat; 
}

footer .box-logotipo img{
    max-width: 160px;
}

footer .box-social-media{
    float: right;
    height: 100%;
}

footer .box-social-media li{
    float: left;
    height: 100%;
    display: flex;
    margin-left: 40px;
    align-items: center;
}

footer .box-social-media li a{
    width: 30px;
    height: 30px;
    display: block;
    text-indent: -99999px;
    background-position: center -30px;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .box-social-media li a:hover{
    background-position: center 0;
}

footer .box-social-media li.ico-linkedin a{
    background-image: url("../img/ico-linkedin.png");
}

footer .box-social-media li.ico-instagram a{
    background-image: url("../img/ico-instagram.png");
}

footer .box-social-media li.ico-facebook a{
    background-image: url("../img/ico-facebook.png");
}

footer .menu{
    display: flex;
    padding: 15px 0;
    margin: 20px auto 10px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #6b8b7c;
    border-bottom: 1px solid #6b8b7c;
}

footer .menu li a{
    color: #00af5d;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

footer .menu li:first-child{
    display: none;
}

footer .copyright{
    margin: 10px auto;
}

footer .copyright p{
    color: #00bc64;
    font-size: 12px;
    text-align: center;
}

.mfp-bg,
.mfp-wrap{
    display: none !important;
}

@media (min-width: 768px) {
    .box-banner{
        background-image: none !important;
    }
}

@media (max-width: 767px) {

    .ico-arrow{
        display: block !important;
    }
    

    .header{
        position: fixed;
        width: 100%;
        z-index: 9;
    }

    .header > .container{
        max-width: 100%;
    }

    .header .btn-main-menu{
        position: absolute;
        left: 2%;
        top: 10%;
        outline: none;

        display: block !important;        
    }

    .header .btn-main-menu .fa{
        font-size: 40px;
        color: #2c6854;        
    }

    header .btn-main-menu.collapsed .fa-bars{
        display: block !important;
    }

    header .btn-main-menu.collapsed .fa-times{
        display: none;
    }

    header .btn-main-menu .fa-times{
        color: #00d974 !important;
    }

    .header #menuMain{
        padding: 0;
        top: 0;
        z-index: 9;
        width: 100%;
        position: absolute;
    }

    .header #menuMain .menu{
        display: block;
        flex-direction: column;
        justify-content: space-between;
    }

    .header #menuMain, 
    .header #menuMain > div, 
    .header #menuMain ul, 
    .header #menuMain ul li, 
    .header #menuMain ul li a{
        height: initial;
    }

    .header #menuMain li a{
        padding: 7% 10%;
        text-transform: uppercase;
        background: #fff;
        font-size: 20px;        
        justify-content: normal;
    }

    .header #menuMain ul.menu li:last-child a{
        background: #009851;
        padding: 15% 10%;
    }

    .header .logotipo img{
        max-width: 150px;
        margin: auto;
        display: block;
    }

    .header .box-language{
        position: absolute;
        right: 0;
        top: -73px;   
    }

    .header .box-language a{
        height: 73px;
        width: 70px;     
        background: #fff !important;
    }

    .header .box-language a img{
        max-width: 50%;
        display: none;
    }

    .header .box-language a img.mobile{
        display: block;
    }
    
    .header .box-language .options-language{
        width: 100%;
    }

    .header .box-language ul{
        flex-direction: column;
    }

    .header .box-language ul li a{
        background: rgba(255, 255, 255, 0.8) !important;
        height: 70px;
        width: 70px;
    }

    .header .box-language ul li a.active{
        background: rgba(255, 255, 255, 1) !important;
    }

    .box-banner{
        position: relative;
        top: 73px;
        margin-bottom: 73px;
        min-height: 80vw;
        background-size: cover;
        background-position: center bottom;
    }

    .box-banner img{
        display: none;
    }        

    .section{
        padding: 20px 0;
    }     

    .section-title h3{
        font-size: 21px;
    }  
    
    .section-title p{
        font-size: 14px;
    }    

    footer{
        background-repeat: no-repeat;
    }
    
    footer .box-logotipo img{
        width: 100%;
    }

    footer .box-social-media li{
        margin: 0 7px
    }

    footer .box-social-media li:last-child{
        margin-right: 0;
    }    

    footer .menu{
        display: block;
    }

    footer .menu li a{
        display: block;
        padding: 10px 0;
        font-size: 13px;
    }
}