.section-team .box-videos{
    margin-bottom: 100px;
}

.section-team .box-videos .main-video{
    max-width: 955px;
    margin: auto;    
    border: 1px solid #afc6c1;

    box-shadow: 0px 20px 21px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 20px 21px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 20px 21px rgba(0,0,0,0.2);
}

.section-team .box-videos .main-video.inverter > .row{
    flex-direction: row-reverse;
}

.section-team .box-videos .main-video .box-info{
    padding: 50px;
}

.section-team .box-videos .main-video .box-title strong{
    font-size: 26px;
    font-weight: 600;
    color: #006854;
    line-height: 30px;
}

.section-team .box-videos .main-video .box-title span{
    font-size: 21px;
    font-weight: 400;
    color: #009851;
    display: block;
}

.section-team .box-videos .main-video .box-description{
    margin-top: 20px;
}

.section-team .box-videos .main-video .box-description p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6b8b7c;
}

.section-team .box-videos .main-video .box-video a,
.section-team .box-videos .main-video .box-video img{
    display: block;
    width: 100%;
    height: 100%;    
}

.section-team .box-videos .list-videos{
    margin-top: 100px;
}

.section-team .box-videos .list-videos .box-item{
    max-width: 320px;
    margin: auto;
}

.section-team .box-videos .list-videos .box-image img{
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
    
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.section-team .box-videos .list-videos .box-title{
    text-align: center;
    margin-top: 20px;
}

.section-team .box-videos .list-videos .box-title strong{
    display: block;
    color: #006854;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.section-team .box-videos .list-videos .box-title p,
.section-team .box-videos .list-videos .box-title p span{
    color: #009851;
    font-size: 18px;
    line-height: 20px;
}

.section-team .box-videos .list-videos .box-title p span{
    font-style: italic;
    font-size: 15px;
    display: block;
}

.section-team .box-videos .list-videos .box-video{
    padding-bottom: 30px;
    margin: 30px 0;
    border-bottom: 1px solid #00ff88;
}

.section-team .box-videos .list-videos .box-video a{
    display: block;
    height: 100%;

    box-shadow: 0px 20px 21px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 20px 21px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 20px 21px rgba(0,0,0,0.2);
}

.section-team .box-videos .list-videos .box-video img{
    width: 100%;
    height: 100%;
    display: block;
}

.section-team .box-videos .list-videos .description{
    color: #6b8b7c;
    line-height: 20px;
}

@media (max-width: 768px) {

    .section-team .box-videos{
        margin-bottom: 0;
        display: none;
    }

    .section-team .box-videos .main-video{
        border: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;    
    }

    .section-team .box-videos .main-video .box-info{
        padding: 40px 26px;
        margin-bottom: 30px;
        border: 1px solid #afc6c1;
        box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0px 10px 15px rgba(0,0,0,0.2);    
    }
    
    .section-team .box-videos .main-video .box-title strong{
        font-size: 20px;
        line-height: 22px;
    }

    .section-team .box-videos .main-video .box-title strong span{
        font-size: 18px;
    }

    .section-team .box-videos .list-videos .view-more{
        width: 200px;
        height: 40px;
        margin: 30px auto 100px;
        display: block !important;
    }

    .section-team .box-videos .list-videos .row > div{
        display: none;
    }
}