.page-template-unipar .section-title{
    padding-bottom: 50px;
    margin-bottom: 100px;
    border-bottom: 1px solid #00ff88;
}

.page-template-unipar  .section-features .list-features{
    text-align: center;
}

.page-template-unipar  .section-features .list-features .box-image{
    height: 220px;
    display: flex;
    align-items: self-start;
}

.page-template-unipar  .section-features .list-features .box-image img{
    max-width: 220px;
    margin: auto;
    display: block;
}

.page-template-unipar .section-features .list-features .box-description{
    margin: auto;
    margin-top: 17px;
    line-height: 20px;
}

.page-template-unipar .section-features .list-features .box-description strong{
    color: #009851;
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin: 40px auto;
}

.page-template-unipar .section-features .list-features .box-description p{
    color: #004b3c;
    max-width: 220px;
    margin: auto;
}

.page-template-unipar .section-factory{
    padding: 50px 0;
}

.page-template-unipar .section-factory .section-title{
    border: none;
    margin: auto;
}

.page-template-unipar .section-factory .section-title .support{
    font-size: 20px;
    font-weight: 500;
}

.page-template-unipar .section-factory .content-factory{
    max-width: 940px;
    margin: auto;
}

.page-template-unipar .section-factory .content-factory .box-details{
    display: flex;
    justify-content: space-between;
}

.page-template-unipar .section-factory .content-factory .odd .box-details{
    flex-direction: row-reverse;
}

.page-template-unipar .section-factory .content-factory .box-details .box-image{
    max-width: 480px;
}

.page-template-unipar .section-factory .content-factory .box-details .box-info{
    max-width: 400px;
}

.page-template-unipar .section-factory .content-factory .box-details .box-info h2{
    font-size: 30px;
    font-weight: 500;
    color: #004b3c;
}

.page-template-unipar .section-factory .content-factory .box-details .box-info h2:after{
    content: "";
    width: 55px;
    height: 2px;
    margin: 15px 0;
    display: block;
    background: #f5a623;
}

.page-template-unipar .section-factory .content-factory .box-details .box-info p{
    color: #6b8b7c;
    font-weight: 400;
    line-height: 18px;
}

.page-template-unipar .section-factory .content-factory .box-details .box-info a{
    font-size: 15px;
    margin-top: 20px;
}

.page-template-unipar .section-factory .content-factory .box-gallery{
    margin-top: 40px;
}

.page-template-unipar .section-factory .content-factory .box-gallery ul{
    display: flex;
    flex-wrap: wrap;
}

.page-template-unipar .section-factory .content-factory .box-gallery ul li{
    max-width: 235px;
    height: 200px;
    overflow: hidden;    
}

.page-template-unipar .section-factory .content-factory .box-gallery ul li img{
    height: 100%;
    display: block;
    cursor: pointer;
}

.page-template-unipar .section-products{
    padding: 50px 0;
}

.page-template-unipar .section-products .section-title{
    border: none;
    margin: auto;
}

.page-template-unipar .section-products .section-title .support{
    font-size: 20px;
    font-weight: 500;
}

.page-template-unipar .section-products .box-products{
    max-width: 940px;
    margin: auto;
}

.page-template-unipar .section-products .box-products .box-image{
    max-height: 200px;
    max-width: 380px;
    margin: auto;
}

.page-template-unipar .section-products .box-products .box-image img{
    width: 100%;
}

.page-template-unipar .section-products .box-products .box-info{
    max-width: 380px;
    margin: auto;
}

.page-template-unipar .section-products .box-products .box-info h3{
    display: block;
    margin: 20px 0;
    color: #009851;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.page-template-unipar .section-products .box-products .box-info p{
    color: #6b8b7c;
    line-height: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #00ff88;
}

@media (max-width: 768px) {
    .page-template-unipar .section-features .list-features{
        display: none;
    }
    
    .page-template-unipar .section-features .list-features.mobile{
        display: block !important;
    }

    .page-template-unipar .section-factory .content-factory .box-details{
        display: block;
    }

    .page-template-unipar .section-factory .content-factory .box-details .box-info{
        text-align: center;
    }

    .page-template-unipar .section-factory .content-factory .box-details .box-info p{
        text-align: left;
    }

    .page-template-unipar .section-factory .content-factory .box-details .box-info h2{
        margin-top: 20px;
        text-align: left;
    }

    .page-template-unipar .section-factory .content-factory .box-details .box-info .btn-custom{
        font-size: 12px;
        margin: 20px auto;        
    }

    .page-template-unipar .section-factory .content-factory .box-gallery{
        display: none;
    }
    
    .page-template-unipar .section-factory .content-factory .box-gallery.mobile{
        display: block !important;
    }   

    .page-template-unipar .section-factory .content-factory .box-gallery ul li{
        max-width: inherit;
        height: inherit;
    }

    .page-template-unipar .section-factory .content-factory .box-gallery ul li img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}